@import '../../palette.scss';

.circledicon-component {
    display: flex;
    width: 5em;
    height: 5em;
    border: 2px solid;
    border-radius: 50%;
}

.circledicon-child {
    transform: scale(0.2);
}
