@import '../../palette.scss';

$color-footer-links: $pure-white;

.footer-component {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-plug {
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  margin: 1.1rem 0;
}

.footer-link {
  color: $color-footer-links;
  font-size: 0.7rem;

  .svg-foreground {
    fill: $color-footer-links;
  }

  .svg-background {
    fill: $cape-cod-gray;
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: .3rem 0;
  color: $pure-white;
  text-shadow: 0.1rem 0.1rem #000;
}

@media (min-width: 600px) {
  .footer-links {
    justify-content: center;
  }

  .footer-link {
    margin: 0 2rem;
  }
}