@import '../../palette.scss';

.navbar-component {
  padding: 0.5rem 2rem;
  text-align: center;
  background-color: $accent-color;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.48);
}

.navbar-title {
  font-size: 5rem;
  color: $text-color;
}
