@import '../../palette.scss';

.footer-component {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-color: $cape-cod-gray;
}

.footer-plug {
  display: flex;

  .footer-plug-link {
    color: $pure-white;
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;

  background-color: $tuna-gray;
  color: #c0c0c0;  // TODO get color from psd

  .footer-copyright-text {
    padding: .6rem 0;
    font-size: 1.2rem;
  }
}
