@import '../../palette.scss';

$footer-background: $cape-cod-gray;
$footer-content: $pure-white;
$footer-links: #c0c0c0;

.footer-component {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-color: $footer-background;
}

.footer-plug {
  display: flex;
  flex-direction: column;
}

.footer-head {
  display: flex;
  flex-direction: column;
  color: $footer-content;
  text-align: center;
  
  & > * {
    margin-top: 1rem;
  }
}

.footer-links {
  display: flex;
  justify-content: space-around;
  margin: 1.1rem 0;
}

.footer-plug-link {
  color: $pure-white;
  font-size: 0.7rem;
  
  .svg-foreground {
    fill: $footer-links;
  }
  .svg-background {
    fill: $footer-background;
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;

  background-color: $tuna-gray;
  color: #c0c0c0;  // TODO get color from psd

  .footer-copyright-text {
    padding: .6rem 0;
    font-size: 1.2rem;
  }
}
