@import '../../palette.scss';

.footer-component {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: $pure-white;
  background-color: $cape-cod-gray;
  padding: 2rem;

  a {
    text-decoration: none;
    color: $pure-white;
  }
}

.footer-plug {
  display: flex;

  & > * {
    margin-right: 2rem;
  }
}

.home-link {
  margin-left: 2rem;
}
