@import '../../palette.scss';

.header-component {
  padding: 0.5rem 2rem;
  text-align: center;
  background-color: $woodsmoke-black;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.48);
}

.header-title {
  font-size: 5rem;
  color: $pure-white;
}
