mixin menu-list
	li
		a(href="http://blog.jngrn.co/") Blog
	li
		a(href="https://github.com/jgreen82") Projects
	li
		a(href="https://www.linkedin.com/in/jonathong") About
	li
		a.email-me Contact

doctype html
html
	head
		title jngrn.co
		link(rel="stylesheet" href="css/style.css")
		link(rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

	body
		header
			nav.light-blue
				.container
					.nav-wrapper
						a(href="#!").brand-logo.center JG
						a(href="#" data-activates="mobile-demo").button-collapse
							i.mdi-navigation-menu
						ul#nav-mobile.right.hide-on-med-and-down
							+menu-list

						ul#mobile-demo.side-nav
							+menu-list

		main
			.container
				.row.center-xs
					.col-xs-6
						.box
							h1 Hello Jon Green

		footer.page-footer.light-blue
			.container
				.row
			.footer-copyright
				.container
					.row
						.col-xs-5 &copy 2016 Jon Green
						.container.col-xs-7
							.row.right-xs.bottom-xs
								a.email-me.waves-effect.waves-light.btn.col-xs-5
									i.tiny.material-icons email
								a.call-me.waves-effect.waves-light.btn.col-xs-5.col-xs-offset-2
									i.tiny.material-icons phone

		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
		script(src="js/index.js")
