doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
  body
    nav
      .nav-wrapper
        a(href="#", class="brand-logo") Logo
        ul(class="right hide-on-med-and-down")
          li
            a Home
          li
            a Blog
          li
            a Projects
          li
            a About
          li
            a Contact
    block content
